# Virtual environments
/.venv
/venv
/env
/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec
installer/

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
coverage.xml
*.cover
.cache
nosetests.xml

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
*.npz
*.doit-db
/detections_to_filter/
/sorted_detections/
/labels/
/test_*.py
filtered_predictions_*.csv
patch_based_*.json
patch_based_*.csv
class.txt
classes.txt
classes.yaml
class_formats.md
debug_ids.py
filter_predictions.py
=4.30.0
